{% extends "base.html" %}

{% block title %}Analytics {{ticket}}{% endblock %}

{% block content %}
<h1>Analytics of: {{ticket}}</h1>

<table>
    <tr>
        <th></th>
        {% for field in fields %}
        <th>{{field}}</th>
        {% endfor %}
    </tr>
    {% if rows|length == 0 %}
        OOPS Something wrong!
    {% else %}
        <tr>
            <td>HI</td>
            {% for field in fields %}
            <td>{{ rows['hi'][field] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>DIFF</td>
            {% for field in fields %}
            <td>{{ rows['analytics'][field] }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td>LO</td>
            {% for field in fields %}
            <td>{{ rows['lo'][field] }}</td>
            {% endfor %}
        </tr>
    {% endif %}
{% endblock %}
